body {
  nav {
    ul.navbar-nav {
      li.dropdown {
        a.nav-link {
          img.img-circle {
            max-width: 35px;
            width: 100%;
            position: relative;
            top: -5px;
          }
        }

        div.dropdown-menu {
          span.dropdown-header {
            img.img-circle {
              max-width: 35px;
              width: 100%;
              position: relative;
              top: -4px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  aside {
    div.sidebar {
      .user-panel {
        .info {
          .d-block {
            color: white;
            font-weight: 550;
          }
        }
      }
      nav {
        ul {
          ul.nav-treeview {
            li {
              a {
                text-indent: 7px;
              }
            }
          }
        }
      }
    }
  }
  div.content-wrapper {
    .progressbar {
      display: flex;
      margin: 40px 0;

      .step {
        position: relative;
        text-align: center;
        width: 100%;

        p {
          font-size: 18px;
          font-weight: 600;
          color: #000;
          margin-bottom: 8px;
        }

        p.active {
          color: #28a745;
        }

        .bullet {
          position: relative;
          height: 50px;
          width: 50px;
          border: 2px solid #000;
          display: inline-block;
          border-radius: 50%;
          transition: 0.2s;
        }

        .bullet.active {
          border-color: #28a745;
          background-color: #28a745;

          span {
            display: none;
          }
        }

        .bullet.biodata,
        .bullet.ortu,
        .bullet.periodik,
        .bullet.lampiran {
          cursor: pointer;
        }

        .bullet:before,
        .bullet:after {
          position: absolute;
          content: "";
          bottom: 20px;
          right: -220px;
          height: 4px;
          width: 220px;
          background-color: #262626;
        }

        .bullet.active:after {
          background-color: #28a745;
          transform: scaleX(0);
          transform-origin: left;
          animation: animate 0.3s linear forwards;
        }

        span {
          font-weight: 500;
          font-size: 20px;
          line-height: 45px;
          position: absolute;
          left: 51%;
          transform: translateX(-50%);
        }

        .check {
          position: absolute;
          left: 50%;
          top: 66%;
          font-size: 20px;
          transform: translate(-50%, -50%);
          display: none;
        }

        .check.active {
          display: block;
          color: #fff;
        }
      }

      .step:last-child {
        .bullet:before,
        .bullet:after {
          display: none;
        }
      }
    }
  }

  table.table-hover {
    tbody {
      tr:hover {
        background-color: rgba(0, 119, 255, 0.3) !important;
        cursor: pointer;
      }

      tr.selected {
        background-color: rgba(0, 119, 255, 0.3);
      }
    }
  }

  .form-biodata {
    position: relative;
    left: 0;
    transition: 0.3s;
  }

  .form-biodata.left {
    left: -1920px !important;
  }

  .form-data-orangtua,
  .form-periodik,
  .form-upload,
  .previewCetak {
    position: relative;
    left: 1920px;
    padding: 16px 16px;
    transition: 0.3s;
  }

  .form-data-orangtua.open,
  .form-periodik.open,
  .form-upload.open,
  .previewCetak.open {
    left: 0 !important;
  }

  .previewCetak {
    .table {
      img.logo {
        max-width: 117px;
        width: 100%;
        padding-top: 10px;
      }

      tr {
        td {
          padding: 0 0 0 20px !important;
          position: relative;
          z-index: 2;

          img.watermark {
            position: absolute;
            max-width: 500px;
            width: 100%;
            margin-top: 43px;
            z-index: 1;
            left: 20%;
            opacity: 0.1;
          }
        }
      }

      tr.head-bukti {
        border-bottom: 3px solid #000 !important;

        td.head-bukti {
          padding: 0 0 0 0 !important;
        }

        p {
          margin-bottom: 0 !important;
          margin-top: 0 !important;
        }

        // p:nth-child(1) {
        //   margin-top: 0px;
        // }

        // p:nth-child(2) {
        //   margin-top: 0px;
        // }
        // p:nth-child(3) {
        //   margin-top: -20px;
        // }
        // p:nth-child(4) {
        //   margin-top: -25px;
        // }
        // p:nth-child(5) {
        //   margin-top: -20px;
        // }
        // p:nth-child(6) {
        //   margin-top: -20px;
        // }

        p:nth-child(1),
        p:nth-child(2),
        p:nth-child(3) {
          font-size: 18px;
          font-weight: 600;
        }

        p:nth-child(4) {
          font-size: 22px;
          font-weight: 600;
        }

        p:nth-child(5),
        p:nth-child(6) {
          font-size: 12px;
        }
      }
    }
  }
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

@media (min-width: 1520px) {
  body {
    div.content-wrapper {
      .progressbar {
        .step {
          .bullet:before,
          .bullet:after {
            right: -263px;
            width: 261px;
          }
        }
      }
    }
  }
}
@media (min-width: 1920px) {
  body {
    div.content-wrapper {
      .progressbar {
        .step {
          .bullet:before,
          .bullet:after {
            right: -363px;
            width: 361px;
          }
        }
      }
    }
  }
}
