body {
  aside {
    div.sidebar {
      .user-panel {
        .info {
          .d-block {
            color: white;
            font-weight: 550;
          }
        }
      }
      nav {
        ul {
          ul.nav-treeview {
            li {
              a {
                text-indent: 7px;
              }
            }
          }
        }
      }
    }
  }
}
