@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

body .container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

body .container .forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

body .container .forms-container .signin-signup {
  position: absolute;
  top: 50%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  z-index: 5;
  -webkit-transition: 1s 0.7s ease-in-out;
  transition: 1s 0.7s ease-in-out;
}

body .container .forms-container .signin-signup form.sign-in-form {
  z-index: 2;
}

body .container .forms-container .signin-signup form.sign-up-form {
  z-index: 1;
  opacity: 0;
}

body .container .forms-container .signin-signup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5rem;
  overflow: hidden;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -webkit-transition: 0.2s 0.7s ease-in-out;
  transition: 0.2s 0.7s ease-in-out;
}

body .container .forms-container .signin-signup form .title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

body .container .forms-container .signin-signup form .input-field {
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
}

body .container .forms-container .signin-signup form .input-field span {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.1rem;
}

body .container .forms-container .signin-signup form .input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

body .container .forms-container .signin-signup form .input-field input::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

body .container .forms-container .signin-signup form .input-field input:-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

body .container .forms-container .signin-signup form .input-field input::-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

body .container .forms-container .signin-signup form .input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

body .container .forms-container .signin-signup form .btn {
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #0099ff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .container .forms-container .signin-signup form .btn:hover {
  background-color: #0077ff;
}

body .container .panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

body .container .panels-container .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  z-index: 7;
}

body .container .panels-container .panel .content {
  color: #fff;
  -webkit-transition: 0.9s 0.6s ease-in-out;
  transition: 0.9s 0.6s ease-in-out;
}

body .container .panels-container .panel .content h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

body .container .panels-container .panel .content p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

body .container .panels-container .panel .content .btn {
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #0099ff;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .container .panels-container .panel .content .btn:hover {
  background-color: #0077ff;
}

body .container .panels-container .panel .content .btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

body .container .panels-container .left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

body .container .panels-container .right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

body .container .panels-container .right-panel .content,
body .container .panels-container .right-panel .image {
  -webkit-transform: translateX(800px);
          transform: translateX(800px);
}

body .container .panels-container .image {
  width: 100%;
  -webkit-transition: 1.1s 0.4s ease-in-out;
  transition: 1.1s 0.4s ease-in-out;
}

body .container-bg::before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background: linear-gradient(-45deg, #0077ff, #0099ff);
  top: -10%;
  right: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 6;
  -webkit-transition: 1.8s ease-in-out;
  transition: 1.8s ease-in-out;
}

body .daftar-ulang .logo {
  max-width: 100px;
}

body .daftar-ulang h4.daftar-ulang {
  font-weight: 650;
}

/* ANIMATION */
.container.sign-up-mode:before {
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  -webkit-transform: translateX(-800px);
          transform: translateX(-800px);
}

.container.sign-up-mode .right-panel .content,
.container.sign-up-mode .right-panel .image {
  -webkit-transform: translateX(0px) !important;
          transform: translateX(0px) !important;
}

.container.sign-up-mode .left-panel {
  pointer-events: none !important;
}

.container.sign-up-mode .right-panel {
  pointer-events: all !important;
}

.container.sign-up-mode .signin-signup {
  left: 25% !important;
}

.container.sign-up-mode form.sign-in-form {
  z-index: 1 !important;
  opacity: 0 !important;
}

.container.sign-up-mode form.sign-up-form {
  z-index: 2 !important;
  opacity: 1 !important;
}

@media (max-width: 870px) {
  body .container {
    min-height: 800px;
    height: 100vh;
  }
  body .container .forms-container .signin-signup {
    width: 100%;
    left: 50%;
    top: 95%;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    -webkit-transition: 1s 0.8s ease-in-out;
    transition: 1s 0.8s ease-in-out;
  }
  body .container .panels-container {
    z-index: 10;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
  }
  body .container .panels-container .panel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5rem 8%;
  }
  body .container .panels-container .panel .image {
    width: 200px;
    -webkit-transition: 0.9s 0.6s ease-in-out;
    transition: 0.9s 0.6s ease-in-out;
  }
  body .container .panels-container .panel .content {
    padding-right: 15%;
    -webkit-transition: 0.9s 0.8s ease-in-out;
    transition: 0.9s 0.8s ease-in-out;
  }
  body .container .panels-container .panel .content h3 {
    font-size: 1.2rem;
  }
  body .container .panels-container .panel .content p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
  body .container .panels-container .panel .content .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
  body .container .panels-container .left-panel {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  body .container .panels-container .right-panel {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  body .container .panels-container .right-panel .content,
  body .container .panels-container .right-panel .image {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  body .container:before {
    width: 1500px;
    height: 1500px;
    left: 30%;
    bottom: 68%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    right: initial;
    top: initial;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
  }
  body .container.sign-up-mode:before {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }
  body .container.sign-up-mode .left-panel .image,
  body .container.sign-up-mode .left-panel .content {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  body .container.sign-up-mode .signin-signup {
    top: 5%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    left: 50% !important;
  }
}

@media (max-width: 576px) {
  body {
    height: 100% !important;
    overflow-y: scroll;
  }
  body .img-thumbnail {
    margin: 50px 0 0 10px;
  }
  body .container-bg:before {
    bottom: 72%;
    left: 50%;
  }
  body .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
  body .container {
    height: auto;
  }
  body .container h4.daftar-ulang {
    text-align: center;
  }
  body .container .forms-container .signin-signup form {
    padding: 0 1.5rem;
  }
  body .container .panels-container .panel .content {
    padding: 0.5rem 1rem;
  }
  body .container .panels-container .panel .image {
    display: none;
  }
  body .daftar-ulang-page {
    padding: 0;
  }
  body .daftar-ulang-page a.navbar-brand {
    display: none;
  }
  body .daftar-ulang-page ul.navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .daftar-ulang-page ul.navbar-nav li {
    padding: 2px 20px 2px 20px;
    font-size: 1.4rem;
  }
  body .header-daftar-ulang {
    display: block !important;
  }
  body .header-daftar-ulang img.brand-daftar-ulang {
    max-width: 80px;
  }
  body .formulir-daftar-ulang {
    margin-bottom: 5em;
  }
}
/*# sourceMappingURL=style.css.map */